#ignore content, which can be obtained from mapbase on moddb
content/**
src/.vs/
src/.vs/*
src/everything.sln
src/UpgradeLog.htm

## The below sections of the .gitignore were obtained from the .gitignore of
# https://github.com/mapbase-source/source-sdk-2013/

## Visual Studio
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.sln
*.vcxproj.FileListAbsolute.txt
*.pdb

# Unnecessary files
*.lib
*.filters
*.vpc_crc
*.sentinel
*.recipe

# Backup files
*.bak

# Build folders
src/.vs/
src/game/client/Debug_mod_episodic/
src/game/client/Debug_mod_hl2/
src/game/client/Release_mod_episodic/
src/game/client/Release_mod_hl2/
src/game/server/Debug_mod_episodic/
src/game/server/Debug_mod_hl2/
src/game/server/Release_mod_episodic/
src/game/server/Release_mod_hl2/
src/*/Debug/
src/*/Release/
src/utils/*.dll
src/utils/*.pdb
src/utils/*.exe
src/utils/*.res
src/materialsystem/*.dll
src/materialsystem/*.pdb
src/vgui2/*.dll
src/vgui2/*.pdb